body {
  box-sizing: border-box;
}

header {
  display: flex;
  margin: 30px 100px;
  justify-content: space-between;
  border: 1px solid gray;
}

nav ul  {
  display: flex;
}

nav ul  {
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    padding-left: 20px;
    text-transform: capitalize;
}