body {
  box-sizing: border-box;
}

header {
  display: flex;
  margin: 30px 100px;
  justify-content: space-between;
  border: 1px solid gray;
}

nav li a {
  display: flex;
  justify-content: ;
  text-decoration: none;
}

nav li{
    list-style: none;
}