body {
  box-sizing: border-box;
  font-family: 'Avenir';
  src: url('../fonts/Avenir.eot?#iefix') format('embedded-opentype'),  url('../fonts/Avenir.woff') format('woff'), url('../fonts/Avenir.ttf')  format('truetype'), url('../fonts/Avenir.svg#Avenir') format('svg');
}

header {
  display: flex;
  margin: 30px 100px;
  justify-content: space-between;
  /* border: 1px solid gray; */
  font-family: 'Avenir', Helvetica, sans-serif;
  font-size: 16px;

}

nav ul  {
  display: flex;
  list-style: none;
  margin-right:500px ;
}



nav ul li a{
    text-decoration: none;
    padding-left: 20px;
    text-transform: capitalize;
}

.header-btn button{
    padding: 5px 5px 10px 5px;
    text-transform: capitalize;
    border: none;
    border-radius: 50px;
    background: #FFFFFF;
    box-shadow: #4B5D68 ;
    width: 170px;
    color: #212353;
    box-shadow:drop-shadow(rgba(75, 93, 104, 0.1))
}


button img{
    padding-top: 5px;
    margin-left: 5px;
}